* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(148, 226, 250);
}


/* estilos del encabezado - logo y Nombre */

header {
    /* display: inline-block; */
    display: flex;
    width: 100%;
    height: 60px;
}

header img {
    width: 60px;
}

header h1 {
    font-size: 50px;
}


/* estilos del banner - no-repeat center center/cover*/

#banner-landing {
    width: 100%;
    height: 400px;
    background: url("images/Banner22.jpg")no-repeat center center/cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-weight: bold;
    font-size: 40px;
}

#reclamar {
    width: 200px;
    height: 60px;
    border: 2px solid blueviolet;
    background: blueviolet;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    opacity: 0.5;
}


/* estilos del contador de tiempo */

.temporizador {
    width: 100%;
    height: 200px;
    background: rgb(144, 90, 233);
    background: linear-gradient(90deg, rgba(144, 90, 233, 1) 0%, rgba(246, 201, 228, 1) 100%);
}

.titulo {
    text-align: center;
}

.titulo h1 {
    font-size: 40px;
    font-weight: bold;
    color: red;
}

.titulo h2 {
    color: white;
}

.tiempo {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    color: rgb(247, 230, 4);
}

.tiempo .bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tiempo .bloque div {
    font-size: 60px;
    font-weight: bold;
}

.tiempo .bloque p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    font-weight: bold;
}


/* estilos del cuerpo del documento */

#contenedor-titulo {
    width: 100%;
    height: 20px;
    padding: 10px;
    text-align: center;
}

#contenedor-titulo h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-tarjetas {
    width: 100%;
    text-align: center;
    padding: 20px 10px;
}

.tarjetas {
    width: 250px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    background-color: rgb(223, 217, 217);
}

.tarjetas img {
    width: 250px;
    height: 300px;
    border-radius: 10px 10px 0 0;
}

.tarjetas h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
}

.tarjeta h4 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 3px;
}

.tarjetas button,
.formulario button {
    width: 100px;
    border: 2px solid blueviolet;
    background: blueviolet;
    border-radius: 8px;
    margin: 10px 0;
    font-size: 18px;
}

#contenedor-formulario {
    padding: 50px 0px 0px 0px;
    text-align: center;
}

label {
    display: block;
}

input,
textarea {
    size-adjust: 40px;
    margin: 3px 0px 10px 0px;
    background: rgb(102, 208, 240);
    width: 90%;
}

.footer {
    width: 100%;
    height: auto;
    background: #000000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
}

.footer h2 {
    font-size: 35px;
    color: #6ed3f1;
}

.footer__links {
    margin: 10px;
}

.footer__links a {
    margin: 0 30px;
    font-size: 3rem;
    color: white;
}

.footer__links a:hover {
    cursor: pointer;
    opacity: 0.3;
}

.footer__links h4 {
    color: white;
}